*.zip
*.mp4
*.mov__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
node_modules/
.venv/
db.sqlite3
staticfiles/
altavellum-clean/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Envs & DB
.venv/
venv/
env/
db.sqlite3

# Node / front-end
node_modules/
dist/
build/

# Django collected files
staticfiles/
static_root/
*.map

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

**/static/assets/

# legacy bundles we don't use
**/static/new/

